@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
}

.search-star_Question {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: #eeeeee;
  border-radius: 2px;
}

.star-select {
  width: 200px;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding: 5px;

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.view-button {
  background-color: #5a37c3;
  border: none;
  width: 90px;
  border-radius: 5px;
  font-size: 15px;

  color: white;
  cursor: pointer;
}

.view-button:hover {
  background-color: #775ada;
}

.view-question {
  display: flex;
  flex-direction: row;

  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.star-questions {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 85vh;

  overflow: auto;
}

.star-questions::-webkit-scrollbar {
  width: 5px;

  /* background-color: rebeccapurple; */
}

.star-questions::-webkit-scrollbar-track {
  background-color: #e3e3e3;
}
.star-questions::-webkit-scrollbar-thumb {
  background-color: #606470;
  border-radius: 5px;
}

.star-questin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8fcfb;
  margin: 10px;
  height: auto;
}

.star {
  text-align: center;
  color: #34495e;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 50px;
}

.view-answer {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 50px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
}

.bi-eyeglasses {
  font-size: 40px;
}

.answer {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;

  font-family: "Markazi Text", serif;
  font-optical-sizing: 12;
  font-weight: 500;
  font-style: normal;

  font-size: 20px;
}

.answer-output {
  display: flex;
  flex-direction: column;
  /* background-color: #eeeeee; */
  width: 95%;
  height: 80vh;
  padding: 10px;
  justify-content: center;

  overflow: auto;
}

.answer-body {
  padding-top: 20px;
  /* padding: 20px; */
  text-align: start;
}

.question-body {
  display: flex;
  /* height: auto; */
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;

  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.question-body > img {
  width: 400px;
}

/*This style is for div view-image to view question-image*/

.view-image {
  position: absolute;
  top: 0px;
  z-index: 10;
  background-color: #e3e3e3;
  width: 100%;
  height: 100%;
}
