<div class="subject">
    <div class="card-body">


        <div class="card-header">
            <p class="book-icon"><i class="fa-solid fa-book"></i></p>
        </div>
        <div class="details">
            <h1 class="subject-name">Subject Name</h1>
            <p class="chapter">Total Chapter: 5</p>
            <p class="question">Total Question: 100</p>

            <button onclick="view_queston()" id="view-question" class="button" type="submit">View</button>
        </div>
    </div>
</div>