<div class="search">

    <div class="search-component">

        <select class="select" name="subject-name" id="subject-name">
            <option value="subject1">Subject Name</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
        </select>

        <select class="select" name="chapter-name" id="chapter-name">
            <option value="subject1">Chapter Name</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
        </select>


        <select class="select" name="topic-name" id="topic-name">
            <option value="subject1">Topic Name</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
        </select>

        <select class="select" name="question-type" id="question-type">
            <option value="subject1">Question Type</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
            <option value="subject1">Subject1</option>
        </select>

        <button class="search-button">Search</button>
    </div>

</div>