<div class="star-questoin">

    <div class="search-star_Question">
        <select class="star-select" name="star-subject" id="star-subject">
            <option value="star-subject">star-subject</option>
        </select>

        <select class="star-select" name="star-chapter" id="star-subject">
            <option value="star-subject">star-chapter</option>
        </select>

        <select class="star-select" name="star-topic" id="star-subject">
            <option value="star-subject">star-chapter</option>
        </select>

        <select class="star-select" name="star-topic" id="star-subject">
            <option value="star-subject">star-type</option>
        </select>
        <button class="view-button">view</button>
    </div>

    <div class="view-question">

        <div class="star-questions"> <!--Star questions div-->

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>

                    <!--Option for MCQ-->
                    <div>
                        <p>A ) Option A</p>
                        <p>B ) Option B</p>
                        <p>C ) Option C</p>
                        <p>D ) Option D</p>
                    </div>
                    <!--Image is required-->
                    <img src="../../resource/image/BST.png" alt="question-img">
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                    <img src="../../resource/image/BST2.png" alt="question-img">
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>

                    <img src="../../resource/image/code.jpg" alt="question-img">

                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

        </div>






        <div class="answer"> <!--To view answer-->
            <div class="answer-output">

                <p class="answer-body">A Binary Search Tree (or BST) Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
                    nesciunt. Qui vel hic ullam saepe quam placeat sit quidem. At, quis voluptatem. Harum quia pariatur
                    magnam, at ad tempora sunt ullam esse, odio, facilis illo cupiditate quis libero! Modi maiores
                    veniam placeat nihil saepe. Error cum molestias neque corrupti, velit ullam debitis reiciendis nam
                    molestiae aut excepturi saepe nobis necessitatibus. Iure veritatis nesciunt dicta aspernatur alias
                    et quod corporis perspiciatis, natus velit modi blanditiis molestiae sint vitae nihil. Quibusdam,
                    eos cupiditate eius blanditiis voluptatum consectetur expedita modi eum deleniti repudiandae
                    molestias est dolor esse nulla, enim aliquid, deserunt eligendi perferendis in inventore nostrum.
                    Consequatur magnam adipisci distinctio itaque quam obcaecati placeat nisi neque nesciunt, provident
                    et at expedita officiis! Qui mollitia maxime suscipit saepe assumenda laborum commodi, possimus quis
                    impedit repellendus labore quae doloremque omnis inventore fuga modi laboriosam in adipisci dolorem
                    dignissimos facilis incidunt? Aut odit impedit perferendis vel deleniti, eaque incidunt atque
                    officiis excepturi! Distinctio dolorem ex fugiat recusandae odit dolorum quos! Laborum neque
                    suscipit possimus quos nemo ipsa nisi repellendus enim repellat reprehenderit autem nam nostrum,
                    tempora eos nulla, odit rem laboriosam cupiditate. Molestiae aperiam ad beatae doloribus amet?
                    Laboriosam repudiandae quibusdam pariatur in laborum fuga. Dicta?
                </p>
            </div>
        </div>


    </div>
</div>