<div class="star-questoin">

    <div class="search-star_Question">
        <select class="star-select" name="star-subject" id="star-subject">
            <option value="star-subject">star-subject</option>
        </select>

        <select class="star-select" name="star-chapter" id="star-subject">
            <option value="star-subject">star-chapter</option>
        </select>

        <select class="star-select" name="star-topic" id="star-subject">
            <option value="star-subject">star-chapter</option>
        </select>

        <select class="star-select" name="star-topic" id="star-subject">
            <option value="star-subject">star-type</option>
        </select>
        <button class="view-button">view</button>
    </div>

    <div class="view-question">

        <div class="star-questions"> <!--Star questions div-->

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>

                    <!--Option for MCQ-->
                    <div>
                        <p>A ) Option A</p>
                        <p>B ) Option B</p>
                        <p>C ) Option C</p>
                        <p>D ) Option D</p>
                    </div>
                    <!--Image is required-->
                    <img src="../../resource/image/BST.png" alt="question-img">
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                    <img src="../../resource/image/BST2.png" alt="question-img">
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>

                    <img src="../../resource/image/code.jpg" alt="question-img">

                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="star-questin"> <!--Star question-->
                <p class="star"><i class="fa-solid fa-star"></i></p>
                <div class="question-body">
                    <p> <b>1:</b> &nbsp; &nbsp; What is the full form of CPM?</p>
                </div>
                <button class="view-answer"><i class="fa-solid fa-plus"></i></button>
            </div>

        </div>






        <div class="answer"> <!--To view answer-->
            <div class="answer-output">
                <p>A Binary Search Tree (or BST)
                </p>
            </div>
        </div>


    </div>
</div>